<p id="notice"><%= notice %></p>

<h1>Listing Audios</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audios.each do |audio| %>
      <tr>
        <td><%= link_to 'Show', audio %></td>
        <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
        <td><%= link_to 'Destroy', audio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audio', new_audio_path %>
