<%= form_for @point, :html => { :class => "form-horizontal point" } do |f| %>

  <% if @point.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @point.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :lat, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lat, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lat) %>
  </div>
  <div class="form-group">
    <%= f.label :lng, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lng, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lng) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                points_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
