<!DOCTYPE html>
<html>
<head>
  <title>Turismo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
  <nav class="navbar navbar-default <%= controller.action_name %>">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/points/"><img src="/imagens/logo.png" width="200"/></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/points/new/">Cadastrar</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<%= yield %>
<footer>
  Desenvolvido por IFBQ - Campus Party - 2016
</footer>
<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCORWu-uTguiEdLaTvsFu74TPvmYE2fNrA&callback=initMap">
  </script>
  <script src="/js/recorder.js"></script>
  <script src="/js/jquery.voice.js"></script>
  <script src="https://use.fontawesome.com/f51fd9aff5.js"></script>
</body>
</html>
